<h1>Welcome To Word Counter!</h1>

<form action="/result" method="post">
  <label for="phrase">Enter a phrase</label>
  <input id="phrase" name="phrase" type="text">
  <label for="word_to_count">Word you want to count</label>
  <input id="word_to_count" name="word_to_count" type="text">
  <button type="submit" class="btn-success">Count!</button>
  